<div class="container">
  <h1 class="text-center font-weight-bold my-5">Missão, Visão e Valores</h1>
  <ul class="d-flex list-unstyled">
    <li class="text-center p-3 w33">
      <img src="../../assets/quem-somos/foguete.png" style="width:100%;" alt="">
      <h5 class="text-center font-weight-bold">MISSÃO</h5>
      <p>Melhoramos a qualidade e segurança no trabalho e conscientizamos sobre a importância de seguir à risca os cuidados dentro da nossa área.</p>
    </li>
    <li class="text-center p-3 w33">
      <img src="../../assets/quem-somos/olho.png" style="width:100%;" alt="">
      <h5 class="text-center font-weight-bold">VISÃO</h5>
      <p>Atuar de maneira nacional, ser uma referência de qualidade e informação de forma inovadora e objetiva.</p>
    </li>
    <li class="text-center p-3 w33">
      <img src="../../assets/quem-somos/valor.png" style="width:100%;" alt="">
      <h5 class="text-center font-weight-bold">VALORES</h5>
      <p>Segurança, Confiança, Comprometimento, Ética, Bem Estar, Saúde, Informação.</p>
    </li>
  </ul>
  <img src="../../assets/quem-somos/logo.png" style="width:70%;" alt="">


</div>
